



        <EditForm Model="@Image" OnValidSubmit="@ValidRequest" OnInvalidSubmit="@InvalidRequest">
            <DataAnnotationsValidator />
            <ValidationSummary />


   
        <InputFile OnChange="OnInputFileChange" />
   

            <p><button type="submit" class="btn btn-success">Post</button></p>
        </EditForm>