

    <center>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-header" style="text-align:center;">Binance</div>
                    <div class="card-body">
                        @foreach (var item in Lista.Where(x=>x.Key == "Binance"))
                        {
                        <p style="text-align:center;">BTC price: @item.Value</p>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-header" style="text-align:center;">Zonda</div>
                    <div class="card-body">
                    @foreach (var item in Lista.Where(x => x.Key == "Zonda"))
                    {
                        <p style="text-align:center;">BTC price: @item.Value</p>
                    }
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                    <div class="card">
                    <div class="card-header" style="text-align:center;">Bitrue</div>
                    <div class="card-body">

                    </div>
                </div>
            </div>
            <div class="col-md-2">
                    <div class="card">
                    <div class="card-header" style="text-align:center;">Gate</div>
                    <div class="card-body">

                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-header" style="text-align:center;">Kucoin</div>
                    <div class="card-body">
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
    </div>
    </center>
