<div class="card">
       <div class="card-header">
            <p style="text-align:center; font-weight:bold;">New Post</p>
                </div>
                <div class="card-body">

                   <form method="post">
    <div class="form-group">
        <input name="title" class="form-control" placeholder="Type title here.." /><hr />
    </div>
  <div class="form-group">
    <textarea class="form-control" name="description" rows="3" placeholder="Type text here.."></textarea> <hr />
  </div>
    <div class="form-group">
        <input name="author" class="form-control" placeholder="Type your nick here.." /><hr />
    </div>
          <select class="form-select" name="category" ></select>
    <div class="py-2">
        <button type="submit" class="btn btn-primary">Post</button>

    </div>
</form> 
<hr />
</div>
</div>