@page "/"

<PageTitle>Index</PageTitle>

<div class="card">
                <div class="card-header">
                    <b><center>TORCHAIN - New place where we care about privacy!</center></b>
                </div>
                <div class="card-body">
                    <center><h5 class="card-title">
                        <b>➔ Freedom of speech is a human right. </b>
                        </h5> </center><hr />

                    <p class="card-text" style="text-align:center;">
                       Here at TORCHAIN you can feel free to say what you think. We created this website to build new community in the darknet.<br />
                       Everyone can join and start new thread at forum or join chat and make conversation with someone else 100% anonymously.<br />
                       There is no place for illegal stuff at this website!
                       YOURS ADMIN :)
                       
                    </p>
                </div>
            </div><br />

<p><PostForm></PostForm></p>


                       


